-customjs("right-safe")
-customjs("right-calendar")
-customjs("pnotify")

.span7.offset3
  =form_for(@meeting, :html => { :class => 'form-horizontal fM offset1'}) do |f|
    .control-group
      =f.label t('.title'), class: 'control-label'
      .controls
        =f.text_field :title
      =f.label t('.start_at'), class: 'control-label'
      .controls
        =f.text_field :start_at, "autocomplete" => "off"
      =f.label t('.end_at'), class: 'control-label'
      .controls
        =f.text_field :end_at, "autocomplete" => "off"
      =f.label t('.place'), class: 'control-label'
      .controls
        =f.select :place_id, options_for_select(@places), :class => 'input-xlarge'

      =f.submit t('.create_meeting'),  :class=>'submit-center'


