%h1 Профиль игрока

%article.profile
  %p 
    ="#{ @player.first_name } #{ @player.last_name }"
  %p 
    ="#{ @player.level}"    
  %p
    =t('.participated', :amount => @player.meetings.participated.length)
    
